@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Resetting default browser styles */
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s ease-in-out;
}

body {
  background: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
  background-color: #f0f0f0;
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

.card {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  transition: opacity 0.3s ease;
}
button:hover + .card {
  display: block;

}